{% extends "main/app_page.html" %}

{% load bootstrap4 %}
{% load thumbnail %}

{% block elements %}
    <nav class="col-md-auto nav flex-column border">
        {% for pattern in patterns %}
            {% ifchanged pattern.super_pattern.pk %}
                <span class="nav-link root font-weight-bold">
                    {{ pattern.super_pattern.name }}
                </span>
            {% endifchanged %}
            <a class="nav-link" href="#">{{ pattern.name }}</a>
        {% endfor %}
    </nav>
{% endblock %}