{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Buhtiyar</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery='slim' %}
    </head>
    <body class="container-fluid" style="background-color:#f6f6f6">
        <div class="row">
            <ul class="col nav justify-content-end border">
                {% if user.is_authenticated %}
                    <li class="nav-link">Вы зашли как {{ user.username }}</li>
                {% else %}
                    <li class="nav-link">Вы не авторизованы</li>
                {% endif %}
                <li class="nav-item"><a class="nav-link" href="{% url 'accounts:register' %}">Регистрация</a></li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"
                           role="button" aria-haspopup="true" aria-expanded="false">Профиль</a>
                        <div class="dropdown-menu">
    <!--                        <a class="dropdown-item" href="#">Моя бибилотека</a>-->
                            <a class="dropdown-item" href="{% url 'accounts:profile_change' %}">Изменить личные данные</a>
                            <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Изменить пароль</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:logout' %}">Выйти</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'accounts:profile_delete' %}">Удалить профиль</a>
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Вход</a></li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Войти через ВКонтакте</a>
                    </li>
                {% endif %}
                    <li class="nav-item"><a class="nav-link" href="#">О сайте</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="col col-md-auto">
                <p>col1</p>
                <a class="nav-link root" href="#">Browse</a>
                <a class="nav-link root" href="#">My library</a>
                <a class="nav-link root" href="#">Welcome</a>
                {% block elements %}
                {% endblock %}
            </div>
            <div class="col">

                <a class="nav-link root" href="#">SIGN IN</a>
                <section class="col border py-2">
                    {% bootstrap_messages %} <!-- Всплывающие сообщения -->
                    {% block content %}
                    {% endblock %}
                </section>
            </div>
            <div class="col col-md-auto">
                <p>Some weird stuff</p>
            </div>
        </div>


    </body>
</html>