{% extends "main/header.html" %}

{% load bootstrap4 %}
{% load thumbnail %}

{% block content %}
<p>Hey, welcome to Buhtiyar!</p>

{% if apps_last_version %}
<div class="d-flex justify-content-start mt-5">
    {% for app in apps_last_version %}
        <div class="mr-2">
            <p><img class="mr-3" src="{% thumbnail app.main_screen.screen 'default' %}">{{ app.application.name }}</p>
            <p>Версия: {{ app.number }}</p>

            {% if app.screens %}
            <p>Изображения есть.</p>
            <img src="{{ app.main_screen.screen.url }}" height="420">

            {% else %}
            <p>Нет изображений.</p>
            {% endif %}

        </div>


    {% endfor %}
</div>
{% else %}
<ul class="list-unstyled">
    <p>Приложений нет!</p>
</ul>
{% endif %}

{% include "main/includes/htmlsnippet.html" %}

{% endblock %}