{% extends "main/header.html" %}

{% load bootstrap4 %}
{% load thumbnail %}

{% block content %}
<p>Hey, welcome to Buhtiyar!</p>

{% if apps_last_version %}
<ul class="list-unstyled">
    {% for app in apps_last_version %}
    <div>
        <p>{{ app.application.name }}</p>
        <p>Версия: {{ app.number }}</p>

        {% if app.screens %}
        <p>Изображения есть.</p>
        <img src="{{ app.main_screen.screen.url }}" height="420">
        <img class="mr-3" src="{% thumbnail app.main_screen.screen 'default' %}">
        {% else %}
        <p>Нет изображений.</p>
        {% endif %}

    </div>

    {% endfor %}
</ul>
{% else %}
<ul class="list-unstyled">
    <p>Приложений нет!</p>
</ul>
{% endif %}

{% include "main/includes/htmlsnippet.html" %}

{% endblock %}