{% extends "main/header.html" %}

{% block content %}
<div class="row">
    <div class="col col-md-auto">
        <img src="{{ screen.screen.url }}">
    </div>
    <div class="col col-md-auto">
        <h1>Patterns</h1>
        {% for pattern in screen.patterns.all %}
            <a href="#">{{ pattern.name }}</a>
        {% endfor %}
        <h1>Elements</h1>
        {% for element in screen.elements.all %}
            <a href="#">{{ element.name }}</a>
        {% endfor %}

    </div>
</div>
{% endblock %}